<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        <nav>
        <a href="/" hx-get="/" hx-target="body" hx-swap="innerHTML">Inicio</a>
        <a href="/dashboard" hx-get="/dashboard" hx-target="body" hx-swap="innerHTML">Panel</a>
        </nav>
        <main>
            <div class="new-link">
                <div id="upload-link-create-form">
                    <form 
                        hx-post="/admin/dashboard/create/upload-link" 
                        hx-swap="innerHTML" 
                        hx-target="#result-div"
                    >
                        <input type="text" name="name" placeholder="Custom url">
                        <input type="datetime-local" name="file_lifetime">
                        <input type="text" name="password" placeholder="Password">
                        <input type="datetime-local" name="expiration_date">
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div id="download-link-create-form">
                    <form 
                        hx-post="/admin/dashboard/create/download-link" 
                        hx-swap="innerHTML" 
                        hx-target="#result-div"
                    >
                        <input type="text" name="name" placeholder="Custom url">
                        <input type="text" name="file" placeholder="File">
                        <input type="text" name="description" placeholder="Description">
                        <input type="number" name="limited_uses" min="0" placeholder="Limited uses">
                        <input type="datetime-local" name="expiration_date">
                        <input type="text" name="password" placeholder="Password">
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div id="result-div"></div>
            </div>
            <div class="links">
            </div>
            <div>
                <form
                    id="upload-form"
                    hx-post="/upload"
                    hx-target="#result-div"
                    hx-swap="innerHTML"
                    enctype="multipart/form-data"
                >
                    <div>
                        <label>Descripción:</label>
                        <input type="text" name="description" placeholder="Ej. archivo de prueba">
                    </div>
                    <div>
                        <label>Archivo 1:</label>
                        <input type="file" name="file1">
                    </div>
                    <button type="submit">Subir</button>
                </form>
            </div>
        </main>
    </body>
</html>
